  # <form role="form">
  #   <%= form_tag("memberships", method: "PATCH") do %>
  #     <div class="field">
  #       <%= label_tag "Add Organizer Permissions:" %>
  #       <%= collection_select(:memberships, :membership_id, @current_memberships, :id, :person_id) %>
  #     </div>
  #     <div class="actions">
  #     <%= submit_tag("Update Role") %>
  #     </div>
  #   <% end %>
  # </form>