<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     </head>
  <body>
    <%= form_tag("memberships", method: "patch") do %>

      <div class="field">
        <%= label_tag "Add Organizer Permissions:" %>

        <%= collection_select(:memberships, :id, @current_memberships, :id, :person) %>

      </div>


      <div class="actions">
        <%= submit_tag("Update Role") %>
      </div>
    <% end %>
      

  </body>
</html>