.header {
  display: block;
  width: 100%;
  padding: 0em 2em 2em;
  background-color: white;
  color: black;
  text-align: center;
  &:hover {
    color: rgb(57,57,57);
  }
}

.title {
  text-align: center;
  font-size: 3em;
  color: rgb(84, 84, 84);
  font-weight: normal;
}
