<% # locals: resource, input_groups %>

<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <strong>Your submission has <%= pluralize(resource.errors.count, "error") %>:</strong>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>
          <%= FormInputGroup.error_for_many(input_groups, message) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
