<nav class="navbar navbar-trans navbar-default navbar-fixed-top" role="navigation" id="topnavbar">
  <ul className="nav nav-tabs">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/groups#dashboard">
          <span></span>
        </a>

        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
        <li>
          <a href="/affiliates">Groups</a>
        </li>
        <li>
          <a href="/members">All Members</a>
        </li>
        <li>
          <a href="/events">All Events</a>
        </li>
    </div> <!-- /.container-fluid -->
  </ul>
</nav>