@import "https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Roboto+Slab:b";
strong {
  font-weight: bold; }

/* Screen variables */
/* Content width variables */
div#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 2em;
  align-items: center;
  margin-bottom: 1em; }

div#padded_wrapper {
  padding: 0 2%; }

div#content {
  margin: 0 auto; }
  @media (min-width: 1024px) {
    div#content {
      width: 900px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    div#content {
      width: 700px; } }
  div#content div#form_title_container {
    margin-bottom: 0.5em; }
  @media (min-width: 1024px) {
    div#content div#form_container {
      float: left;
      width: 40%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    div#content div#form_container {
      float: left;
      width: 40%; } }
  div#content div#meta_form {
    margin-bottom: 2em; }
    @media (min-width: 1024px) {
      div#content div#meta_form {
        float: right;
        width: 55%; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      div#content div#meta_form {
        float: right;
        width: 55%; } }
    div#content div#meta_form div#form_full_desc, div#content div#meta_form div.after-submit-reveal {
      display: none; }

div#footer {
  clear: both;
  padding-top: 1em;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    div#footer {
      width: 900px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    div#footer {
      width: 700px; } }

/* Variables */
div#form_title_container div#form_title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 2em; }

@media (max-width: 768px) {
  div#form_container.disabled {
    display: none; } }
div#form_container form#caller_data ul#main_form_elements {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  div#form_container form#caller_data ul#main_form_elements li {
    margin-bottom: .5em; }
    div#form_container form#caller_data ul#main_form_elements li#email_subscription_controls {
      display: flex;
      flex-direction: column; }
    div#form_container form#caller_data ul#main_form_elements li a#reveal_email_subscription_preferences {
      font-size: 0.75em; }
    div#form_container form#caller_data ul#main_form_elements li div#email_subscription_preferences {
      display: none; }
    div#form_container form#caller_data ul#main_form_elements li label {
      font-size: 0.75em; }
    div#form_container form#caller_data ul#main_form_elements li input {
      border: 1px solid #aaa;
      transition: all .1s linear;
      border-radius: 3px; }
      div#form_container form#caller_data ul#main_form_elements li input[type="text"] {
        width: 100%;
        font-size: 1em;
        padding: 0.5em; }
      div#form_container form#caller_data ul#main_form_elements li input[type="submit"] {
        width: 100%;
        text-align: center;
        height: 2em;
        font-size: 1em;
        background-color: #bbb; }
        div#form_container form#caller_data ul#main_form_elements li input[type="submit"]:hover {
          background-color: #ccc; }

div#meta_form div#form_teaser a#show_full_form_desc {
  font-size: .85em; }
div#meta_form p {
  margin-bottom: 1em; }
div#meta_form div#sharing {
  border-top: 1px dotted #aaaaaa;
  font-size: 0.85em; }
  div#meta_form div#sharing div#share_widgets_container {
    height: 1em; }
    div#meta_form div#sharing div#share_widgets_container div.share-container {
      float: left;
      margin-right: 1em; }

div#header {
  background-color: #c869bf;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: white; }

div#form_container form#caller_data ul#main_form_elements li input[type="text"].parsley-error {
  border: 1px solid #c869bf; }
div#form_container form#caller_data ul#main_form_elements li ul.parsley-errors-list.filled {
  font-size: .75em;
  padding-left: 1em; }
  div#form_container form#caller_data ul#main_form_elements li ul.parsley-errors-list.filled li {
    list-style-type: none; }

/* Variables */
body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  color: #111;
  background-color: #f8f8f8;
  font-size: 16px; }
  @media (min-width: 1024px) {
    body {
      font-size: 18px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    body {
      font-size: 16px; } }
  body a {
    color: #49a7e9;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
  body p {
    margin: 0; }

div#footer {
  height: 3em; }
  div#footer div#partner_logos {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -2%; }
    @media (min-width: 1024px) {
      div#footer div#partner_logos {
        margin: -2%; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      div#footer div#partner_logos {
        margin: -2%; } }
    div#footer div#partner_logos div.partner-logo-div {
      height: 100%;
      padding: 0 2%; }
      div#footer div#partner_logos div.partner-logo-div img.partner-image {
        max-height: 100%;
        max-width: 100%; }

/*# sourceMappingURL=style.css.map */
