@import "./reset.scss";

#mount {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view {
  display: block;
  width: 100%;
}

.app-logo {
  width: 3em;
  height: auto;
  display: inline-block;
  padding-right: 0.34em;
}
