<div class="create-buttons-container">
  <!-- email -->
  <%= f.button(type: 'submit', name: 'commit', value: 'email', class: "btn-email-join") do %>
    <%= image_tag 'email-icon.svg' %>
    <span>Create with Email</span>
  <% end %>
  
  <!-- facebook -->
  <%= f.button(type: 'submit', name: 'commit', value: 'facebook', class: "btn-facebook-join") do %>
    <%= image_tag 'facebook-logo.svg' %>
    <span>Create with Facebook</span>
  <% end %>
  
</div>
