# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e9f92bd7d2e3c0fb48d551e65d3f9f895181a63783419b0e2ae78dc28891521647e070fb01a5f4b3ce1b6aafec50753b201b6606cb91e7e0558eae875d619e32
  action_network_api_token: <%= ENV["ACTION_NETWORK_API_TOKEN"] %>

test:
  secret_key_base: a3e4257f64eaaff4b951bd6c63f9b6d9a8622d418587c8ba8bae9fb00f51affcc7aaf2d2e12ad73cff544077e03147bc538735a0cb8b3c80b8bb20f342783a09
  action_network_api_token: 'test-token'

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  action_network_api_token: <%= ENV["ACTION_NETWORK_API_TOKEN"] %>
