div#can-form-area-call-your-senator {
  margin-left:auto;
  margin-right:auto;
}

/* Suppress some elements of the form that we don't want. */
/* */
div#action_info, div.action_sidebar h4 {
  display: none;
}

/* Set up responsive sizing for the form title and description */
@media screen and (max-width: 492px) {
  div#can_embed_form h2 {
    font-size: 24.6px;
  }
  div.action_description  {
    font-size: 12px;
  }
  div#can_embed_form div.clearfix div.can_thank_you-block h4.widget_title, div#can_embed_form div.clearfix div.can_thank_you-block a.share_button {
    font-size: 12px;
  }
  div#can_embed_form div.clearfix div.can_thank_you-block
  {
    font-size: 12px;
  }
}

@media screen and (min-width: 492px) and (max-width: 800px) {
  div#can_embed_form h2 {
    font-size: 5vw;
  }
  div.action_description  {
    font-size: 2.44vw;
  }
  div#can_embed_form div.clearfix div.can_thank_you-block h4.widget_title, div#can_embed_form div.clearfix div.can_thank_you-block a.share_button {
    font-size: 2.44vw;
  }
  div#can_embed_form div.clearfix div.can_thank_you-block
  {
    font-size: 2.44vw;
  }
}

@media screen and (min-width: 800px) {
  div#can_embed_form h2 {
    font-size: 40px;
  }
  div.action_description {
    font-size:19.5px;
  }
  div#can_embed_form div.clearfix div.can_thank_you-block h4.widget_title, div#can_embed_form div.clearfix div.can_thank_you-block a.share_button {
    font-size: 19.5px;
  }
  div#can_embed_form div.clearfix div.can_thank_you-block
  {
    font-size: 19.5px
  }
}

div.action_description, div#action_welcome_message_inner {
  color: rgb(51, 51, 51);
  font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2em;
  text-transform: none;
}

div#can_embed_form div.clearfix div.can_thank_you-block h4.widget_title {
  text-transform: uppercase;
  color: #264C99;;
  font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.5em;
}


div#can_embed_form div.clearfix div.can_thank_you-block a.share_button {
  line-height: 2em;
  margin-top: 0.5em;
  font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
  color: white;
}

div#can_embed_form div.clearfix div.can_thank_you-block input, div#can_embed_form div.clearfix div.can_thank_you-block textarea {
  font-size: 10px;
  margin-bottom: 0px;
}

/*Set up a background image for the page.  Not straight from indivisibleguide.com, but inspired by it. */
body {
  background: url("../../img/IndivisibleGuide_AbePic.png") no-repeat;
  background-size: 100% auto;
}


/* Style for the new disclaimer at the bottom of the page */
li.new-disclaimer {
  color: #909090;
  font-family: serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1em;
  text-align: center;
}

div.action_description p {
  margin-top: 0px;
}


/*Styles to make the swapped-in AN thank you text not look so wacky. */

div.new-action-description {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  padding-bottom: 5px;
  white-space: pre-line;
}

div.new-action-description ul {
    display: inline;
    line-height: 0.75em;
    list-style-type: none;
    margin-bottom: 1em;
    margin-top: 0;
    padding-bottom: 1em;
    padding-top: 0;
}
div.new-action-description ul li {
    padding-left: 1em;
}

.control-title,
.control-subtitle {
  color: rgba(38, 76, 153, 0.88);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 3em;
  line-height: 1.3;
}

.control-title {
  margin-top: 0.75em;
}

.control-subtitle {
  font-size: 1.4em;
  margin-bottom: 0.67em;
  color: rgba(153,11,11,.73)
}

.control-group {
  height: 3em;
}

.control-group input {
  font-family: 'Montserrat', sans-serif;
}

.step-two,
#can_embed_form input#group-submit {
  display: none;
}

.next-step {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  padding: 5px 10px;
  border: none;
  border: 1px solid rgba(0, 0, 0, .04);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  transition: all .25s linear;
  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0) inset;
  background-color: rgba(153,11,11,.73);
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  white-space: normal;
}
