input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  font-family: sans-serif;
  opacity: 1;
	color: red;
  position: relative;
  transform: translate(-0.5em,-2.75em);
  text-align: right;
  height: 12px;
  width: 14em;
  pointer-events: none;
}

.invalid-form-error-message.filled {
  font-family: sans-serif;
  line-height: 1;
  color: red;
  padding-top: 0.5em;
  text-align: left;
  margin-bottom: 1em;
}

/* Matt added */
.parsley-error,
.parsley-required {
	color: red;
}
