// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "bootstrap";
@import "active_admin/mixins";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body.logged_out {
  background-color: white;
  .flash {
    margin: 0 auto;
    position: relative;
    width: 450px;
  }
  .login-content {
    max-width: 450px;
    position: relative;
    margin: 0 auto;
  }
  .btn-facebook {
    background: #4267b2;
    color: white;

    .facebook-icon {
      width: 20px;
      margin-bottom: 1px;
      margin-right: 2px;
    }
  }

  .login-tag {
    color: grey;
    font-size: 13px;
    margin-bottom: 0;
    position: relative;
    top: 8px;
  }
  #content_wrapper {
    #active_admin_content {
      box-shadow: none;
      h2 {
        font-size: 0;
        box-shadow: none;
        color: #0069ff;
        background-image: url('/images/affinity-logo.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 90px;
        text-shadow: none;
        border: none;
        margin: 0;
        padding: 0.5em 1em;
        background-color: transparent;
        font-weight: normal;
      }
      #error_explanation {
        display: none;
      }

      .action input[type="submit"] {
        font-size: 1.3em;
        padding: 1em 2em;
        border-radius: 0.25em;
        background-image: none;
        background-color: #88c440;
        color: white;
        text-shadow: none;
        box-shadow: none;
        border: none;
        font-weight: normal;
      }

      fieldset li {
        text-align: center;
        width: 100%;
      }
    }
  }
}
