/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 // Custom bootstrap variables must be set or imported before bootstrap itself.
 @import "bootstrap";

$red: #d9534f;
$green: #5cb85c;

.btn-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  color: white;
  &:hover, &:active {
    color: white;
  }
}

.list-group-item.active span {
  color: white !important;
}

.check {
  cursor: pointer;
  text-shadow: 0px 0px 1px black;
  color: white;
}

.check--active {
  color: green;
}

.table--fixed {
  table-layout: fixed;
}

.tag {
  background-color: $brand-primary;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 0.25rem;
  display: inline-block;
  cursor: pointer;
}

.tag-input {
  padding: 5px 10px;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  display: inline;
  width: 55%;
}

.tag-action {
  color: $brand-primary;
  margin: 15px 5px 0 5px;
  cursor: pointer;
}

.tag-action--create {
  background: transparent;
  border: none;
}

.tag-action--remove {
  padding: 5px 0px 5px 10px;
  cursor: pointer;
}

.add-tag-container {
  margin-bottom: 15px;
}

.group-list {
  margin-right: 10px;
}

a.fa {
  text-decoration: none;
}

.action-history-circle {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 20px;

  &--attended {
    background-color: $green;
    border: 1px solid $green;
    color: white;
  }

  &--missed {
    color: $red;
    border: 1px solid #ccc;
  }
}

.attendance-badge {
  margin-right: 10px;
}


.container-html {
  width: 1140px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.small {
  position: relative;
  bottom: -5px;
  margin-left: 5px;
  display: inline;
}

.search__clear-button {
  position: absolute;
  align-self: center;
  left: calc(100% - 7em);
  z-index: 3;
  cursor: pointer;
}
