/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 // Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";

@import "./signup_form.scss";
@import "./create_group_form.scss";

$red: #d9534f;
$green: #5cb85c;
$lightgray: #3b5998;

.btn-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  color: white;
  &:hover, &:active {
    color: white;
  }
}

.list-group-item.active span {
  color: white !important;
}

.check {
  cursor: pointer;
  text-shadow: 0px 0px 1px black;
  color: white;
}

.check--active {
  color: green;
}

.table--fixed {
  table-layout: fixed;
}

.tag {
  background-color: $brand-primary;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 0.25rem;
  display: inline-block;
  cursor: pointer;
}

.tag-input {
  padding: 5px 10px;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  display: inline;
  width: 55%;
}

.tag-action {
  color: $brand-primary;
  margin: 15px 5px 0 5px;
  cursor: pointer;
}

.tag-action--create {
  background: transparent;
  border: none;
}

.tag-action--remove {
  padding: 5px 0px 5px 10px;
  cursor: pointer;
}

.add-tag-container {
  margin-bottom: 15px;
  position: relative;
}

.tag-list {
  padding: 0;
  background: white;
  position: absolute;
  margin-top: -1px;
  width: 100%;

  &__item {
    padding: 8px;
    border: 1px solid #d5d5d5;
    list-style: none;
    cursor: pointer;
    margin-bottom: -1px;
    font-size: 15px;
    color: #797878;

    &:hover {
      color: white;
      background: #1584df;
    }
  }
}

.group-list {
  margin-right: 10px;
}

a.fa {
  text-decoration: none;
}

.action-history-circle {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 20px;

  &--attended {
    background-color: $green;
    border: 1px solid $green;
    color: white;
  }

  &--missed {
    color: $red;
    border: 1px solid #ccc;
  }
}

.attendance-badge {
  margin-right: 10px;
}


.container-html {
  width: 1140px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.small {
  position: relative;
  bottom: -5px;
  margin-left: 5px;
  display: inline;
}

.search__clear-button {
  position: absolute;
  align-self: center;
  left: calc(100% - 7em);
  z-index: 3;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
  margin: -4px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.slider.round {
  border-radius: 34px;
}

.text-source {
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px 10px;
  background: #fbfbfb;
  min-height: 250px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-edit {
  cursor: pointer;
}
.btn-delete {
  span {
    color: #d9534f;
  }
}
.text-preview {
    margin: 2rem 0 2rem 0;
    p {
        margin: 0;
    }
}
