$lightgray: rgba(0, 0, 0, 0.05);
$primaryblue: rgba(2, 117, 216, 1);

.button {
    @extend .btn;
    text-align: center;
    text-transform: uppercase!important;
    margin: 1em auto 1em auto;
    cursor: pointer;
    color: white;
}
.submit-btn {
    @extend .button;
    @extend .btn-primary;
}
.cancel-btn {
    @extend .button;
    @extend .btn-danger;
}
