$lightgray: rgba(0, 0, 0, 0.05);
$primaryblue: rgba(2, 117, 216, 1);

#join-group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .content {
        display: flex;
        max-width: 66%;
        flex-grow: 2;
        flex-direction: column;
        padding: 1em;
        div {
            display: flex;
        }
    }
    .right-aside {
        @extend .card;
        display: flex;
        max-width: 33%;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        padding: .5em;
        background-color: $lightgray;
        .call-to-action {
            font-size: 1.5em;
            margin-top: .5em;
            font-weight: bold;
            color: $primaryblue;
        }
        .aside-contents {
            width: 85%;
            margin: 1rem 0;
            text-align: center;
        }
        .join-button-group {
            @extend .aside-contents;
            display: flex;
            flex-direction: column;
        }
        .already-joined-notice {
            @extend .aside-contents;
            padding: 0;
            font-style: italic;
        }
    }
}

