@import "bootstrap";

body {
  width: 100%;
  font-size: 16px;
}

.borderless td, .borderless th {
  border: none;
}

.inline {
  display: inline-block;
  margin-right: 16px;
}

.table {
  table-layout: fixed;
}

.light-font {
  font-weight: normal !important;
}

.right-border {
  border-right: solid 1px black !important;
}

table th.bottom-border {
  border-bottom: 2px solid black
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.left-padding {
  padding-left: 16px !important;
}

.square {
  width: 16px;
  height: 16px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  display: inline-block;
}
