$lightgray: rgba(0, 0, 0, 0.05);
$primaryblue: rgba(2, 117, 216, 1);

#signup_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .field_with_errors {
        @extend .alert;
        padding: inherit;
        margin: 0;
        background-color: red;
    }
    .content {
        display: flex;
        max-width: 66%;
        flex-grow: 2;
        flex-direction: column;
        padding: 1em;
        div {
            display: flex;
        }
    }
    .right-aside {
        @extend .card;
        display: flex;
        max-width: 33%;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        padding: .5em;
        background-color: $lightgray;
        .call-to-action {
            font-size: 1.5em;
            margin-top: .5em;
            font-weight: bold;
            color: $blue;
        }
        .entry {
            display: flex;
            flex-direction: column;
            margin-top: .75em;
            input {
                border: 1px solid $lightgray;
                border-radius: .25em;
                padding: .25em 0 .25em .5em;
            }

            label {
                font-weight: bold;
            }
        }
        .submit {
            @extend .btn, .btn-primary;
            text-align: center;
            width: 100%;
            text-transform: uppercase;
            margin: 1em auto 1em auto;
            background-color: $primaryblue;
        }
    }
}

