<div class="container">
  <div class='page-header'>
    <div class="row">
      <div class="col-10">
        <h2>
          <img src="/mocks/img/logo.png" height="50" />
          <a href="/">Affinity</a>
          <small> <%= current_person.groups.first.name %> </small>
        </h2>
      </div>

      <div class="col-2 text-right">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src='/mocks/img/jane_doe.jpg' />
            <span> <%= current_person.given_name %> <%= current_person.family_name %>  </span>
          </a>
        </div>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Account</a>
          <a class="dropdown-item" href="/admin/logout">Logout</a>
        </div>
      </div>
    </div>
    <br />
  </div>
  <%= react_component("App", prerender: false) %>
</div>
