/* This is lifted almost straight from indivisibleguide.com, for purposes of mocking up a page like it. */
.header-nav {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: rgba(255,255,255,.52);
}

div#header-container {
  background-color: #001d59;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  align-items: center;
}


span.header-nav {
  margin:0px 10px 0px 10px;
}
