/* This is lifted straight from indivisibleguide.com, for purposes of mocking up a page like it. */
.header-nav {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: .18em;
  text-transform: uppercase;
}