  <div class="container-html">
    <div class='page-header'>
      <div class="row container">
        <div class="col-10">
          <h2>
            <a href="/home" class="affinity-logo"><img src="/images/affinity-logo.svg" width="230" /></a>
            <div class="small">

            </div>
          </h2>
        </div>
        <div class="col-2 text-right">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>
              <%= current_person.name %></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Account', account_path(person_id: current_person), class: "dropdown-item" %>
              <%= link_to 'My Groups', profile_home_path, class: "dropdown-item" %>
              <%= link_to 'Logout', destroy_person_session_path, class: "dropdown-item" %>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>