<div class="col-md-12">
  <div class="row">
    <table class="table margin-bottom-0">
      <tbody>
        <% attendances.each do |attendance| %>
          <tr>
            <td colspan="2"><%= attendance.person.name %></td>
            <td colspan="2"><%= attendance.person.primary_email_address %></td>
            <td class="right-border"><%= attendance.person.primary_phone_number %></td>
            <td colspan="1" class="left-padding">
              <div class="inline">
                <span class="square"></span>
                <span>Y</span>
              </div>
              <div class="inline">
                <span class="square"></span>
                <span>N</span>
              </div>
            </td>
          </tr>
        <% end %>
        <% 20.times do %>
          <tr>
            <td colspan="2"></td>
            <td colspan="2"></td>
            <td class="right-border"></td>
            <td colspan="1" class="left-padding">
              <div class="inline">
                <span class="square"></span>
                <span>Y</span>
              </div>
              <div class="inline">
                <span class="square"></span>
                <span>N</span>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
