<div class="col-md-12">
  <div class="row">
    <table class="table">
      <thead>
        <th class="text-right">
          Log attendance and new attendees at
          <%= link_to url, url %>
        </th>
      </thead>
    </table>
  </div>
</div>
