<div class="col-md-12 header">
  <div class="row">
    <table class="table borderless">
      <thead>
        <th ><%= current_group.name %></th>
        <th><%= event.title || event.name %></th>
        <th><%= event.start_date %></th>
      </thead>
    </table>
  </div>
  <div class="row">
    <table class="table borderless">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th class="text-center">Phone</th>
          <th>Attendance</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
