div#can-form-area-call-your-senator {
  margin-left:auto;
  margin-right:auto;
}

/* Suppress some elements of the form that we don't want. */
div#action_info, div.action_sidebar h4 {
  display: none;
}

/*Style the form title.  Most of what follows is lifted from indivisibleguide.org CC BY-NC-SA 4.0 */
div#can_embed_form h2 {
  color: #001d59;
  font-family: Montserrat;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

/* Set up responsive sizing for the form title and description */
@media screen and (max-width: 492px) {
  div#can_embed_form h2 {
    font-size: 24.6px;
  }
  div.action_description  {
    font-size: 12px;
  }
  div#can_embed_form div.clearfix div.can_thank_you-block h4.widget_title, div#can_embed_form div.clearfix div.can_thank_you-block a.share_button {
    font-size: 12px;
  }
  div#can_embed_form div.clearfix div.can_thank_you-block
  {
    font-size: 12px;
  }
}

@media screen and (min-width: 492px) and (max-width: 800px) {
  div#can_embed_form h2 {
    font-size: 5vw;
  }
  div.action_description  {
    font-size: 2.44vw;
  }
  div#can_embed_form div.clearfix div.can_thank_you-block h4.widget_title, div#can_embed_form div.clearfix div.can_thank_you-block a.share_button {
    font-size: 2.44vw;
  }
  div#can_embed_form div.clearfix div.can_thank_you-block
  {
    font-size: 2.44vw;
  }
}

@media screen and (min-width: 800px) {
  div#can_embed_form h2 {
    font-size: 40px;
  }
  div.action_description {
    font-size:19.5px;
  }
  div#can_embed_form div.clearfix div.can_thank_you-block h4.widget_title, div#can_embed_form div.clearfix div.can_thank_you-block a.share_button {
    font-size: 19.5px;
  }
  div#can_embed_form div.clearfix div.can_thank_you-block
  {
    font-size: 19.5px
  }
}

div.action_description, div#action_welcome_message_inner {
  color: rgba(0, 0, 0, 0.7);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 2em;
  text-transform: none;
}

div#can_embed_form div.clearfix div.can_thank_you-block h4.widget_title {
  text-transform: uppercase;
  color: #001d59;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.5em;
}


div#can_embed_form div.clearfix div.can_thank_you-block a.share_button {
  line-height: 2em;
  margin-top: 0.5em;
  font-family: Montserrat;
  color: white;
}

div#can_embed_form div.clearfix div.can_thank_you-block input, div#can_embed_form div.clearfix div.can_thank_you-block textarea {
  font-size: 10px
  margin-bottom: 0px;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/*Set up a background image for the page.  Not straight from indivisibleguide.com, but inspired by it. */
/*div#can-form-area-call-your-senator::after {
  background: rgba(0, 0, 0, 0) url("https://static1.squarespace.com/static/5855a354cd0f68bab2089b40/t/58597f8d29687fe710d051b7/1482191413003/Picture2.jpg?format=1500w") no-repeat scroll right center / cover ;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.32;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}*/


/* Style for the new disclaimer at the bottom of the page */
li.new-disclaimer {
  color: #909090;
  font-family: serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1em;
  text-align: center;
}

div.action_description p {
  margin-top: 0px;
}


/*Styles to make the swapped-in AN thank you text not look so wacky. */

div.new-action-description {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  padding-bottom: 5px;
  white-space: pre-line;
}

div.new-action-description ul {
    display: inline;
    line-height: 0.75em;
    list-style-type: none;
    margin-bottom: 1em;
    margin-top: 0;
    padding-bottom: 1em;
    padding-top: 0;
}
div.new-action-description ul li {
    padding-left: 1em;
}
