.group {
  display: flex;
  align-items: top;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 7em 2em 2em;
}

.group-title {
  display: block;
  font-size: 2.67em;
  padding-bottom: 1em;
  border-bottom: 1px solid lightGrey;
}

.group-main {
  display: inline-block;

  .update-list,
  .event-list {
    margin: 0;
    padding: 2em 0;
    border-bottom: 1px solid lightGrey;
  }
}

.group-related {
  display: inline-block;
  flex-basis: 20em;
  padding-left: 2em;
}

@media (max-width: 768px) {
  .group {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
