.overview {
  display: block;
  padding: 7em 2em 2em;

  .groups-list {
    padding: 1em;
  }
  .group-link {
    display: block;
    padding: 0.5em 4em;
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .overview {

  }
}
