<div class="container-html">
  <div class='page-header'>
    <div class="row container">
      <div class="col-10">
        <h2>
          <a href="/" class="affinity-logo"><img src="/images/affinity-logo.svg" width="230" /></a>
        </h2>
      </div>
    </div>
  </div>
</div>
