  <!DOCTYPE html>
<html>
  <head>
    <title>Affinity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/9913cefd51.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
