<div class="multi-value-fields field form-group">
  <%= f.text_field :address, class: 'thin', placeholder: 'Email*' %>
  <div class="multi-contact-info-group">
    <%= f.check_box :primary , class: 'js-email-primary'%>
    <%= f.label :primary %>
    <%= link_to_remove_association 'Remove', f, class: 'btn btn-danger btn-sm' %>
  </div>
</div>
