<div class="multi-value-fields field form-group">
  <%= f.text_field :number, class: 'thin', placeholder: 'Phone' %>
  <div class="multi-contact-info-group">
    <%= f.check_box :primary, class: 'js-phone-primary' %>
    <%= f.label :primary %>
    <%= link_to_remove_association "Remove", f, class: 'btn btn-danger btn-sm' %>
  </div>
</div>
