<%= render 'groups/navigation' %>
<div class = "container-html">
  <div class="card">
    <div class="card-block">
      <h3>Editing Person</h3>
      <div>
        <%= render 'form', member: @member, url: group_member_path(@group) %>
      </div>
    </div>
  </div>
</div>




