 <%= render 'groups/navigation' %>
<div class = "container-html">
  <div class="card">
    <div class="card-block">
      <h3>Add Member</h3>
      <div>
        <%= render 'form', person: @person, url: group_members_path(@group, @member) %>
      </div>
    </div>
  </div>
</div>
